//GLOBAL

$main-color: '';
$hover-color: '';
$links-color: '';
$links-hover-color: '';

$section-title-color: #000;

//HEADER ICONS

$header-icons-fill: transparent;
$header-icons-fill-hover: transparent;
$header-icons-stroke: #000;
$header-icons-stroke-hover: $main-color;

//FILL

$header-login-fill: $header-icons-fill;
$header-cart-fill: $header-icons-fill;
$header-wishlist-fill: $header-icons-fill;
$header-search-fill: $header-icons-fill;

$header-login-fill-hover: $header-icons-fill-hover;
$header-cart-fill-hover: $header-icons-fill-hover;
$header-wishlist-fill-hover: $header-icons-fill-hover;
$header-search-fill-hover: $header-icons-fill-hover;

//STROKE

$header-login-stroke: $header-icons-stroke;
$header-cart-stroke: $header-icons-stroke;
$header-wishlist-stroke: $header-icons-stroke;
$header-search-stroke: $header-icons-stroke;

$header-login-stroke-hover: $header-icons-stroke-hover;
$header-cart-stroke-hover: $header-icons-stroke-hover;
$header-wishlist-stroke-hover: $header-icons-stroke-hover;
$header-search-stroke-hover: $header-icons-stroke-hover;

//QUANTITY COLORS

$header-qty-border: '';
$header-qty-text: '';
$header-qty-bg: '';

$header-qty-border-hover: $header-qty-border;
$header-qty-text-hover: $header-qty-text;
$header-qty-bg-hover: $header-qty-bg;

//BURGER BTN COLOR

$header-burger-color: #000;
$header-burger-color-hover: $main-color;

//BTNS

$btn-theme-color: '';
$btn-theme-border: '';
$btn-theme-bg: '';
$btn-theme-color-hover: '';
$btn-theme-border-hover: '';
$btn-theme-bg-hover: '';

$btn-theme-default-color: '';
$btn-theme-default-border: '';
$btn-theme-default-bg: '';
$btn-theme-default-color-hover: '';
$btn-theme-default-border-hover: '';
$btn-theme-default-bg-hover: '';

$btn-wishlist-color: '';
$btn-wishlist-border: '';
$btn-wishlist-bg: '';

//PRODUCT CARD/PRODUCT PAGE/SEARCH RESULTS BTN COLORS

$btn-product-color: '';
$btn-product-bg: '';
$btn-product-border-color: '';
$btn-product-color-hover: '';
$btn-product-bg-hover: '';
$btn-product-border-color-hover: '';

//FOOTER

$footer-background: #fff;
$footer-widgets-background: transparent;
$footer-widgets-border-color: transparent;

$footer-widgets-title-color: #000;

$footer-links-color: $links-color;
$footer-links-hover-color: $links-hover-color;

$footer-icons-color: $footer-links-color;
$footer-icons-hover-color: $footer-links-hover-color;

$wheelchair-color: #000;

//HEADER

$nav-wrapper-bg: #fff;
$header-bg: #fff;