$main-color: '';
$hover-color: '';
$links-color: '';
$links-hover-color: '';

$header-login-fill: '';
$header-login-stroke: '';
$header-cart-fill: '';
$header-cart-stroke: '';
$header-qty-border: '';
$header-qty-text: '';
$header-qty-bg: '';
$header-wishlist-fill: '';
$header-wishlist-stroke: '';
$header-search-fill: '';
$header-search-stroke: '';
$header-burger-color: '';

$header-login-fill-hover: '';
$header-login-stroke-hover: '';
$header-cart-fill-hover: '';
$header-cart-stroke-hover: '';
$header-qty-border-hover: '';
$header-qty-text-hover: '';
$header-qty-bg-hover: '';
$header-wishlist-fill-hover: '';
$header-wishlist-stroke-hover: '';
$header-search-fill-hover: '';
$header-search-stroke-hover: '';
$header-burger-color-hover: '';

$btn-theme-color: '';
$btn-theme-border: '';
$btn-theme-bg: '';
$btn-theme-color-hover: '';
$btn-theme-border-hover: '';
$btn-theme-bg-hover: '';

$btn-theme-default-color: '';
$btn-theme-default-border: '';
$btn-theme-default-bg: '';
$btn-theme-default-color-hover: '';
$btn-theme-default-border-hover: '';
$btn-theme-default-bg-hover: '';

$btn-wishlist-color: '';
$btn-wishlist-border: '';
$btn-wishlist-bg: '';