@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); - также часто используется

$fs-text-main: 16px;
$fw-text-main: 400;
$main-font: 'Montserrat', sans-serif;

//SECTION TITLE

$section-title-fw: 500;
$section-title-fs: 26px;
$section-title-lh: 31px;
$section-title-fs-mob: 22px;
$section-title-lh-mob: 26px;
$section-title-text-transform: none;
$section-title-text-align: center;
$section-title-font-family: $main-font;

//FOOTER WIDGET TITLE

$footer-widgets-title-fs: 18px;
$footer-widgets-title-lh: 21px;
$footer-widgets-title-fw: 700;
$footer-widgets-title-fs-mob: 16px;
$footer-widgets-title-lh-mob: 19px;
$footer-widgets-title-text-transform: uppercase;
$footer-widgets-title-font-family: $main-font;

//FOOTER WIDGET LINKS

$footer-links-fs: 14px;
$footer-links-lh: 17px;
$footer-links-fw: 400;