//CATALOGUE BTN STYLES

#home {
    .catalogue-btn {
        position: relative;
        display: flex;
        align-items: center;
        width: 220px;
        padding: 10px;
      
        height: 50px;
        border: 2px solid $main-color;
      
        background-color: $main-color;
        color: #fff;
        transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
        cursor: pointer;
        z-index: 1;
        margin-right: 38px;

        &:hover,
        &:focus,
        &.open {
            border-color: $hover-color;
            background-color: $hover-color;
        }

        span {
            left: 25px;
        }

        &>span,
        &>span::before,
        &>span::after {
            display: block;
            position: absolute;
            width: 21px;
            height: 2px;
            background-color: #fff;

            transition-duration: .25s;
        }

        &>span::before {
            content: '';
            top: -8px;
        }

        &>span::after {
            content: '';
            top: 8px;
        }

        &.open>span {
            transform: rotate(45deg);
        }

        &.open>span::before {
            top: 0;
            transform: rotate(0);
        }

        &.open>span::after {
            top: 0;
            transform: rotate(90deg);
        }

        & p {
            margin: 0 auto;
            padding-left: 30px;
        }

        @media (max-width: 991px) {
            display: none !important;
        }
    }
}

//NAVIGATION STYLES

#home {
    .navigation-wrapper {
        background-color: #fff;
        border: none;
        display: none;

        &.nav-active {
            display: block !important;
        }
    }

    .nav.sf-menu li {
        flex: 1 1;
        padding: 0;
        width: 100%;
    }
    
    .no_children::after {
        display: none;
    }
    
    .navigation .flexy {
        position: static;
    }
  
    .mobile_side_nav_menu .flexy,
    .extra_link {
      position: relative;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
    }
  
    nav.navigation ul.nav.sf-menu>li.flexy>a {
      color: $links-color;
      font-size: 16px;
      line-height: 27px;
      font-style: normal;
      font-weight: 400;
      border: none;
      text-align: left;
      margin: 0;
      display: block;
      width: 100%;
      padding: 0;

      &::before,&::after {
        display: none;
      }
    }
  
    nav.navigation .arrow {
      display: none;
    }
  
    .sf-menu>li>ul {
      flex-direction: column;
    }
  
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul,
    nav.navigation ul.nav.sf-menu>li.flexy:focus>ul {
      width: 100%;
      padding: 0;
      top: 0;
      left: 386px;
      min-height: 100%;
      max-height: max-content;
    }
  
    nav.navigation ul.nav.sf-menu>li.flexy.megamenu:hover>ul,
    nav.navigation ul.nav.sf-menu>li.flexy.megamenu:focus>ul {
      width: 100%;
      padding: 0;
    }
  
    nav .megaline {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-wrap: wrap;
      position: relative;
      width: max-content;
      padding: 0 !important;

      &::after {
          display: none;
      }
  
      div {
        background-color: transparent;
        width: max-content;
        margin: 0;
      }
  
      .megaline .block-title.h4 {
        width: 100%;
      }
    }
  
    .sf-menu li.megamenu ul a {
      line-height: 27px;
    }
    
    .sf-menu li.megamenu ul {
      margin-top: 0;
    }
  
    .navigation .nav.sf-menu {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      margin-left: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 386px;
      position: absolute;
      z-index: 111;
      background-color: #fff;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }
  
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li {
      max-width: none;
      width: 100%;
      align-content: flex-start;
      padding: 10px 40px;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li::after,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li::after {
      display: none;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li>a,
    nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li>a {
      color: $links-color !important;
      text-align: left;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li>a:hover,
    nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li>a:focus {
      color: $main-color !important;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul {
      display: flex;
      justify-content: flex-start;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }
    
    .navigation .nav.sf-menu>li:hover,
    .navigation .nav.sf-menu>li:focus {
      background-color: transparent;
    }
    
    .navigation .nav.sf-menu>li:hover>a,
    .navigation .nav.sf-menu>li:focus>a {
      color: $main-color !important;
    }
    
    ul.nav.sf-menu>li.flexy:hover>ul,
    ul.nav.sf-menu>li.flexy:hover>ul li,
    ul.nav.sf-menu>li.flexy:focus>ul,
    ul.nav.sf-menu>li.flexy:focus>ul li {
      background-color: #fff;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li,
    nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li {
      border: none;
      flex: 0 0 auto;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li:first-child,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li:first-child {
      padding-top: 40px;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li:last-child,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li:last-child {
      padding-bottom: 40px;
    }
  
    .sf-menu ul li>a {
      padding: 0;
      font-size: 16px;
      line-height: 27px;
    }
    ul.nav.sf-menu li.flexy:hover ul li a:hover,
    ul.nav.sf-menu li.flexy:hover ul li a:focus {
      color: $main-color !important;
    }
    
    .sf-menu ul a:hover,
    .sf-menu ul a:focus {
      background-color: transparent;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li>a,
    nav.navigation ul.nav.sf-menu>li.flexy:focusr>ul>li>a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div>ul>li,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div>ul>li {
      padding: 10px 40px;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div>ul>li:first-child,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div>ul>li:first-child {
      padding-top: 40px;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div>ul>li:last-child,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div>ul>li:last-child {
      padding-bottom: 40px;
    }
    
    .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div>ul>li>a,
    .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div>ul>li>a {
      padding: 0 !important;
    }
  
    .sf-menu ul a {
      color: $links-color;
    }
  
    .wrapper .nav.sf-menu>li {
      padding: 10px 40px;
    }
    
    .wrapper .nav.sf-menu>li:first-child {
      padding-top: 20px;
    }
    
    .wrapper .nav.sf-menu>li:last-child {
      padding-bottom: 20px;
    }
    
    .block-title span:after {
      display: none;
    }
    
    .sf-menu li.megamenu {
      display: block;
      position: static !important;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div,
    nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div {
      border: none;
      width: 100%;
      padding: 20px 60px 1px 20px;
    }
    
    .navigation .nav.sf-menu>li:hover span a,
    .navigation .nav.sf-menu>li:focus span a {
      color: $main-color !important;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div {
      max-width: 100%;
      padding: 3px 40px;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div:first-child,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div:first-child {
      padding-top: 40px;
    }
    
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div:last-child,
    .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div:last-child {
      padding-bottom: 40px;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy>ul>li.megaline>div::after,
    .nav.sf-menu li::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      right: 40px;
      margin-top: 3px;
      border-top: 1px solid $main-color;
      border-right: 1px solid $main-color;
      transform: rotate(45deg) translate(-15px, -15px);
    
      transition: border-color 0.2s ease-in;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div ul,
    nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div ul {
      display: none;
      position: absolute;
      top: 0;
      right: -100%;
      min-height: 100%;
      max-height: max-content;
      width: 100%;
      margin: 0;
      padding: 0;
    
      box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
      background-color: #fff;
    }
    
    .megaline>div ul li::after {
      display: none;
    }
    
    .megaline {
      padding-right: 0 !important;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div:hover ul,
    nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div:focus ul {
      display: block;
    }
    
    .catalogue-menu li:hover a,
    .catalogue-menu li:focus a {
      background-color: #fff;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div:hover::after,
    .nav.sf-menu li:hover::after,
    nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div:focus::after,
    .nav.sf-menu li:focus::after {
      border-color: $main-color;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div:hover span a,
    .catalogue-menu li:hover a,
    nav.navigation ul.nav.sf-menu>li.flexy:focus>ul>li.megaline>div:focus span a,
    .catalogue-menu li:focus a {
      color: $main-color !important;
    }
    
    &.sidenav-enabled.ltr .flexy>.arrow {
      display: block;
      border-right: 0;
      left: auto;
      right: -15px;
    }
    
    nav.navigation ul.nav.sf-menu>li.flexy>a:hover,
    nav.navigation ul.nav.sf-menu>li.flexy>a:focus {
      background-color: transparent;
    }
    
    .sf-menu li:hover>a:not(.hidden_nav_link),
    .sf-menu li:focus>a:not(.hidden_nav_link) {
      color: $main-color;
    }
    
    .div-no-arrow::after {
      display: none;
    }
    
    .catalogue-item {
      position: relative;
    }
    
    .catalogue-menu {
      margin-top: 47px;
    }
}