#home {
    .section-advantages {
        margin-bottom: 80px;
    }
    
    .advantages-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        row-gap: 30px;
    
        &__item {
            max-width: 240px;
            justify-self: center;
        }
    
        &__icon {
            width: 85px;
            height: 85px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            &.advantages-1 {
                background-image: url('https://sellavi-russia-dev.github.io/#{$shop-number}/images/advantages-1.png')
            }

            &.advantages-2 {
                background-image: url('https://sellavi-russia-dev.github.io/#{$shop-number}/images/advantages-2.png')
            }

            &.advantages-3 {
                background-image: url('https://sellavi-russia-dev.github.io/#{$shop-number}/images/advantages-3.png')
            }

            &.advantages-4 {
                background-image: url('https://sellavi-russia-dev.github.io/#{$shop-number}/images/advantages-4.png')
            }
        }
    
        &__title {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-top: 0;
            text-align: center;
            color: $links-color;
        }

        @media(max-width: 992px) {
            grid-template-columns: 240px 240px;
            justify-content: center;
        }

        @media(max-width: 592px) {
            grid-template-columns: 160px 160px;

            &__title {
                font-size: 12px;
                line-height: 14px;
            }

            &__icon {
                width: 54px;
                height: 54px;
            }
        }
    }
}