#home {
    .btn:not(.btn-wish-list) {
        border-radius: 0;
    }

    .btn.btn-theme:not(.btn-wish-list) {
        font-weight: 400;
        border-radius: 0;
        background-color: $btn-theme-bg;
        border-color: $btn-theme-border;
        color: $btn-theme-color;
        justify-content: center; 
        border-width: 1px;

        &:hover, &:focus {
            background-color: $btn-theme-bg-hover;
            border-color: $btn-theme-border-hover;
            color: $btn-theme-color-hover;
        }
    }

    .btn-wish-list {
        max-width: 100%;
    }

    .btn.btn-theme-default {
        background-color: $btn-theme-default-bg;
        border-color: $btn-theme-default-border;
        color: $btn-theme-default-color;
        border-width: 1px;

        &:hover,
        &:focus {
            background-color: $btn-theme-default-bg-hover;
            border-color: $btn-theme-default-border-hover;
            color: $btn-theme-default-color-hover;
            border-radius: 0;
            border-width: 1px;
        }
    }

    .btn.btn-wish-list,
    .btn.btn-wish-list {
        color: $btn-wishlist-color;
        background-color: $btn-wishlist-bg;
        border-color: $btn-wishlist-bg;
        font-weight: 200;
    }

    .btn.btn-wish-list:hover,
    .btn.btn-wish-list:focus {
        background-color: $btn-wishlist-bg;
        border-color: $btn-wishlist-bg;
    }

    .btn.btn-theme.btn-theme-transparent.active i {
        color: $main-color !important;
    }

    .btn.btn-theme.btn-theme-transparent.btn-wish-list:not(.active) i {
        color: $btn-wishlist-color;
    }

    .btn.btn-theme:active, .btn.btn-theme:focus {
        border-width: 1px;
    }

    .btn-primary {
        background-color: $btn-theme-bg;
        border-color: $btn-theme-border;
        color: $btn-theme-color;
        margin-right: -15px;

        &:hover,
        &:focus {
            background-color: $btn-theme-bg-hover;
            border-color: $btn-theme-border-hover;
            color: $btn-theme-color-hover;
        }
    }

    .btn.dropdown-toggle {
        border-color: #000;
    }

    .btn.dropdown-toggle:hover,
    .btn.dropdown-toggle:focus {
        border-color: $main-color;
    }

    &.product-category .side-categories .widget-content ul.children li {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .dropdown-menu>.active>a {
        background-color: $main-color;
        color: #fff;
    }

    .mobile_filter_button {
        display: none !important;
    }

    .btn-info {
        background-color: $btn-theme-bg;
        color: #fff !important;
        border-color: $btn-theme-border;

        &:hover, &:focus {
            background-color: $btn-theme-bg-hover;
            border-color: $btn-theme-border-hover;
        }
    }

    .btn-danger {
        background-color: $btn-theme-default-bg;
        color: $main-color;
        border-color: $main-color;

        &:hover, &:focus {
            background-color: $btn-theme-default-bg-hover;
            border-color: $btn-theme-default-border-hover;
            color: $btn-theme-default-color-hover;
        }
    }
}