#home {
    min-width: 360px;
    font-family: $main-font, sans-serif;

    a, p, span {
        font-family: $main-font, sans-serif;
        font-weight: $fw-text-main;
    }

    a {
        color: $links-color;
    }

    a:hover, a:focus {
        color: $links-hover-color;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $main-font, sans-serif;
    }

    .container {
        max-width: 1170px;
    }

    .section-title {
        height: auto;
        width: 100%;
        overflow: visible;
        text-align: $section-title-text-align;

        span {
            font-family: $section-title-font-family;
            font-style: normal;
            font-weight: $section-title-fw;
            font-size: $section-title-fs;
            line-height: $section-title-lh;
            color: $section-title-color;
            text-transform: $section-title-text-transform;

            &::before,
            &::after {
                display: none;
            }

            @media (max-width: 568px) {
                font-size: $section-title-fs-mob;
                line-height: $section-title-lh-mob;
            }
        }
    }

    .alert {
        margin-bottom: 0;
    }

    .shop-sorting {
      display: block !important; 
      border-bottom: 0;
    }

    .row .success_buttons .p-0 {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    
    .content-area .page-section.titles {
        background-color: transparent;
        border: none;
    }

    .cart_drop_down.dropdown
    .dropdown-menu
    .cart-items
    .cart-items-inner
    .cart-content
    .cart-header {
        background-color: $main-color;
    }

    .form-control:focus {
        border-color: $main-color;
    }
      
    .information-title,
    .widget.account-details .widget-title {
        border-color: $main-color;
    }

    &.account-login .content-area>section>div>div>div.login_wrapper:after {
        display: none !important;
    }

    .content-area {
        padding-top: 0;
    }

    &.common-home .content-area {
        padding-bottom: 0;
    }

    &.account-wishlist .shop-sorting {
        display: none;
    }

    .shop-sorting .btn-group {
        display: none !important;
    }

    .checkout-progress-bar .step-number.active {
        background-color: $main-color;
    }
} 

#register-form {
    float: none;
}

.cart-wrapper .cart-items a {
    text-transform: none !important;
}

/*ADD FIXES*/

#home {
    .media .media-heading {
        max-width: 150px;
    }

    .dropdown-item:active {
        background-color: transparent;
    }

    .continue_button {
        margin-bottom: 20px;
    }
    
    .filter_price_amount {
        width: 100% !important;
    }

    #content #sidebar {
        min-width: 292px;
    }

    @media only screen and (max-width: 992px) {
        aside .widget-filter-brand, aside .widget-filter-price {
            display: block;
        }
    }

    .category_content_wrapper {
        @media (min-width: 992px) {
            flex-wrap: nowrap;
            max-width: 100%;
        }
    }

    #tab-specification {
        .table td {padding: 5px;} 
    }

    .content-tabs .tab-content,
    .comments-form {
        border: none;

        h2 {
            margin-bottom: 25px;
            font-family: $main-font, sans-serif;
            font-weight: 600;
            font-size: $section-title-fs;
            line-height: 1;
            font-style: normal;
            font-weight: $section-title-fw;
            color: $main-color;
            text-transform: none;
            text-align: left;

            &::before,
            &::after {
                display: none;
            }

            @media (max-width: 576px) {
                font-size: $section-title-fs-mob;
                line-height: 24px;
            }
        }

        .form-control {
            background: #FFFFFF !important;
            border: 1px solid #DBDBDB !important;
            border-radius: 5px !important;
        }
    }

    .tab-content {
        padding-left: 0;
    }

    .share_page_wrapper {
        display: none;
    }

    .widget-filter-price .noUi-connect {
        background-color: $main-color;
    }

    .widget-filter-price .noUi-handle:hover {
        background: $main-color;
    }

    .filter-tab:hover {
        border-color: $main-color;
    }

    .filter-tab:hover .filter-tab-text, .filter-tab:hover .filter-tab-x {
        color: $main-color;
    }
}

#home.account-forgotten .details-box .buttons {
    max-width: 200px;
    margin-left: auto;
}

#home.account-forgotten .col-sm-9 {
    margin: 0 auto;
}

#home .modal .modal-dialog .modal-content .modal-header {
    flex-direction: row-reverse;
}

#home .wrapper .sticky-wrapper.is-sticky .header {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}