#home {
    .social-icons li {
        padding: 0;
        border: none;

        a:hover,
        a:focus {
            background-color: transparent;
        }
    }

    footer.footer {
        border-top: none;
        background-color: $footer-background;
    }

    .footer-widgets {
        background-color: $footer-widgets-background;
        padding: 0;
        border-bottom: 1px solid $footer-widgets-border-color;
        border-top: 1px solid $footer-widgets-border-color;
        display: block !important;

        .widget-categories ul li a {
            color: $footer-links-color;
            padding-left: 0;
            margin-bottom: 5px;
            font-weight: $footer-links-fw;
            font-size: $footer-links-fs;
            line-height: $footer-links-lh;

            @media (max-width: 592px) {
                font-size: 14px;
                line-height: 16px;
            }
        }

        .widget-categories ul li+li {
            border-top: none;
        }

        .widget-categories a:hover,
        .widget-categories a:focus {
            color: $footer-links-hover-color !important;
        }

        .widget-title {
            font-family: $footer-widgets-title-font-family;
            color: $footer-widgets-title-color;
            font-size: $footer-widgets-title-fs;
            line-height: $footer-widgets-title-lh;
            font-weight: $footer-widgets-title-fw;
            margin-bottom: 25px;
            padding-bottom: 0;
        
            text-transform: $footer-widgets-title-text-transform;

            @media (max-width: 592px) {
                font-size: $footer-widgets-title-fs-mob;
                line-height: $footer-widgets-title-lh-mob;
            }
        }
        
        .widget-title::before {
            display: none;
        }

        .widget-categories ul li a:before {
            display: none;
        }

        .container > .row {
            justify-content: space-between;

            >div {
                padding-top: 50px;
                padding-bottom: 50px;
                padding-left: 30px;
                flex: 0 0 33%;
                max-width: 33%;
            }
        }
    }

    .footer-meta {
        border-top: none;
        background: transparent;

        @media (max-width: 595px) {
            padding-bottom: 10px;
        }

        .footer_content_wrapper {
            margin-bottom: 0;

            svg {
                max-width: 360px !important;

                @media (max-width: 595px) {
                    max-width: 100% !important;
                }
            }
        }

        .copyright {
            a {
                text-align: center;
            }

            img {
                max-width: 120px;
            }
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p {
            margin-bottom: 0;
        }
    }

    .footer-widgets>.container {
        margin: auto;
        height: auto;
    }

    .footer .social-icons {
        margin-top: 20px;

        li a {
            border: none;
        }

        li a i {
            color: $footer-icons-color;
            font-size: 25px;
        }

        li a:hover i,
        li a:focus i {
            color: $footer-icons-hover-color;
        }
    }

    .fa.fa-wheelchair {
        color: $wheelchair-color !important;
    }

    .footer .copyright_row {
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .footer-meta .payments {
        max-width: 100%;
        width: 337px;
    }

    @media (max-width: 992px) {
        .footer .footer-widgets .row {
            justify-content: space-between;
          }
        
          .footer-meta .container {
            flex-direction: column-reverse;
            align-items: center;
          }
    }

    @media (max-width: 768px) {
        .footer-widgets {
            border-bottom: 0;
        }
        
        .footer .footer-widgets .row {
            flex-direction: column;
            padding-top: 40px;
            padding-bottom: 40px;

            >div {
                flex: 0 0 100%;
                max-width: 100%;
                border-right: none;
                border-left: none;
                border-collapse: collapse;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    
        .footer .copyright_row > div {
            margin: 0 auto;
        }
    
        .footer .footer-meta {
            border-top: none;
        }
    }
}