#home {
    .wrapper .header {
        border-bottom: none !important;
        background-color: #fff;

        .logo {
            order: 1;
        }

        .nav.sf-menu {
            order: 2;
        }

        .header-cart {

            @media(max-width: 992px) {
                position: relative;
            }

            .cart-wrapper {
                border: none;
                display: flex;
                align-items: center;

                .d-none.d-lg-inline-block {
                    color: #000;
                    padding-right: 15px;

                    &:hover, &:focus {
                        color: $main-color;
                    }
                }
            }
        }
    }

    .header-wrapper {
        .container-fluid {
            max-width: 1170px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .mobile-navigation-wrapper {
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;

            i {
                font-size: 25px;
            }

            @media(min-width: 992px) {
                display: none;
            }
        }

        .logo {
            margin-right: auto;

            @media(max-width:992px) {
                height: auto !important;
                margin-left: auto;
            }
        }

        @media(max-width:992px) {
            padding-left: 45px;
            padding-right: 10px;
        }
    }

    .header.sticky_trigger.sticky + .content-area {
        padding-top: 95px;
    }
}