#home {
    .wrapper .header {
        border-bottom: none !important;
        background-color: #fff;

        .logo {
            order: 1;
        }

        .nav.sf-menu {
            order: 2;
        }

        .header-cart {

            @media(max-width: 992px) {
                position: relative;
            }

            .cart-wrapper {
                border: none;
                display: flex;
                align-items: center;

                .d-none.d-lg-inline-block {
                    color: #000;
                    padding-right: 15px;

                    &:hover, &:focus {
                        color: $main-color;
                    }
                }
            }
        }
    }

    .header-wrapper {
        .container-fluid {
            max-width: 1170px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .mobile-navigation-wrapper {
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;

            i {
                font-size: 25px;
            }

            @media(min-width: 992px) {
                display: none;
            }
        }

        .logo {
            margin-right: auto;

            @media(max-width:992px) {
                height: auto !important;
                margin-left: auto;
            }
        }

        @media(max-width:992px) {
            padding-left: 45px;
            padding-right: 10px;
        }
    }

    .header.sticky_trigger.sticky + .content-area {
        padding-top: 95px;
    }
}

#home {
    .header #search {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        order: 3;
        max-width: 284px;
        margin: 0 auto;
        flex: 0 1 284px;

        @media (max-width: 991px) {
            display: none !important;
        }

        .search_field input {
            border: 1px solid transparent;
            box-shadow: none !important;
            border-radius: 0;
            padding-left: 23px;
            padding-right: 55px;
            background-color: #F2F0ED;

            &::placeholder {
                color: #696969 !important;
            }
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            i {
                color: #B3ACAC;
                transition: color 0.2s ease-in;
                font-size: 23px
            }

            &:hover i, &:focus i {
                color: #FF4A4A;
            }

            @media (max-width: 992px) {
                left: auto;
                right: 29px;
            }
        }
    }
}