#home {
    .row.products.grid {
        @media (max-width: 992px) {
            justify-content: center;
        }
    }

    .product-item .thumbnail .caption,
    .product-layout .thumbnail .caption {
        max-height: 100%;
    }

    .latest-section {
        margin-bottom: 100px;

        @media (max-width: 768px) {
            margin-bottom: 70px;
        }
    }
    
    &:not(.product-product) .product-item {
        border: none;
        transition: box-shadow 0.2s ease-in;
        max-width: 270px;

        &.mb-md-4 {
            padding: 15px;
        }
    }

    #search_results .product-item {
        max-width: 100%;
        width: 100%;
    }

    .checkout_cart_inner .product-item {
        max-width: 100%;
    }

    .sticker {
        right: auto;
        left: 0;
    }

    .add_to_cart,
    .more_details_btn_wrapper {
        height: 35px;
        >button {
            background-color: $btn-product-bg !important;
            color: $btn-product-color !important;
            border-color: $btn-product-border-color !important;
            border: 1px solid;
            text-transform: none;
            font-size: 14px;
            height: 35px;
            display: flex;
            align-items: center;
            margin-left: auto;
            transition: all 0.2s ease-in;

            &:hover,
            &:focus {
                background-color: $btn-product-bg-hover !important;
                border-color: $btn-product-border-color-hover !important;
                color: $btn-product-color-hover !important;
            }

            i {
                display: none;
            }
        }

        .buttons_added.quantity {
            align-items: center;
        }
    }

    .product-item .thumbnail {
        .caption {
            order: 1;

            &.text-center {
                text-align: left !important;
                width: 100%;
                margin-bottom: 10px;

                h4 {
                    justify-content: flex-start !important;
                }
            }

            @media (max-width: 768px) {
                justify-content: flex-start;
            }
        }

        .media {
            a {
                margin: 0 auto;
            }
        }

        .price_actions {
            order: 2;
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            margin-top: auto;

            .spinner-grow {
                display: none;
            }
        }

        .bottom_price_actions {
            order: 4;
            margin-top: auto;
            align-items: center;
            width: 100%;
            flex-wrap: nowrap;

            .price {
                display: block;
                width: 50%;
            }

            .add_to_cart,
            .more_details_btn_wrapper {
                width: 50%;
                margin-bottom: 0;
            }
        }

        .caption-title {
            justify-content: center;
            text-align: left !important;
            max-height: 2.5rem;
            text-overflow: ellipsis;
        }

        .caption-title a {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $links-color;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .price {
        margin-bottom: 0;

        font-weight: bold;
        font-size: 16px;
        line-height: 22px;

        ins {
            color: $links-color;
        }

        del {
            color: #838383;
        }
    }

    .add_to_cart span {
        margin: 0 auto;
    }
    
    .product-item .thumbnail .upper_price_actions {
        margin-top: 0;
        width: 50%;
        align-items: center;
        height: 35px;
        text-align: left;
        display: none !important;
    }

    .wrapper-out-of-stock {
        top: 0 !important;
    }

    .remove_from_cart i {
        color: $links-color !important;
    }

    @media only screen and (max-width: 576px) {
        .out-of-stock-stamp {
            top: 0;
            bottom: auto;
        }
    }
}

#home .wrapper .page-section .products.grid .product-item {
    border: none !important;
}

#home.checkout-cart .content-area .page-section .checkout_cart_inner .cart_product .product_row .qty_column .quantity {
    border: none !important;
}

#home .products .hide_on_mobile {
    display: block !important;
}