/*PRODUCT PAGE*/

#home.product-product {
    .product-single .buttons {
        flex-wrap: nowrap !important;
        align-items: center;
    }

    .product-single .buttons .quantity {
        display: flex;
        margin: 0;
        margin-right: 10px;
    }

    .product-single .buttons .quantity + button {
        margin: 0;
        margin-right: 10px;
        min-width: 125px;
    }

    .product-single .buttons .quantity .btn {
        background-color: $main-color;
        color: #fff;
    }

    .product-single .btn.btn-theme.btn-wish-list {
        margin: 0;
        border-color: $main-color;
        border-radius: 0;
        border-width: 1px;
    }

    .product-single .buttons .quantity .btn i {
        padding: 15px;
        margin: 0;
    }

    .product-single.product-item .buttons #button-booking,
    .product-single.product-item .buttons #button-cart {
        background-color: $btn-product-bg;
        color: $btn-product-color;
        border-color: $btn-product-border-color;
        margin-top:0;

        &:hover, &:focus {
            background-color: $btn-product-bg-hover !important;
            border-color: $btn-product-border-color-hover !important;
            color: $btn-product-color-hover !important;
        }
    }

    #button-cart {
        .fa-shopping-cart {
            display: none;
        }
    }

    .btn.btn-theme.btn-wish-list,
    .btn.btn-theme.btn-wish-list {
        border-color: transparent !important;
        background-color: transparent;

        i {
            font-size: 25px;
            color: $main-color !important;
            font-weight: 300;
        }

        &:hover, &:focus {
            border-color: transparent;
            background-color: transparent;
        
            i {
                color: $main-color !important;
                font-weight: 700;
            }
        }
    }

    .product-single .product_slide {
        max-height: 500px;
        object-fit: contain;
    }

    .social-icons li a {
        border: none;
    }

    .content-tabs .nav-tabs>li>a.active {
        color: $main-color;
        border-top-color: #e9e9e9;
    }

    @media screen and (max-width: 369px) {
        .product-product .product-single .buttons .btn-compare, .product-product .product-single .buttons .btn-wish-list {
            display: block;
        }
    }
}