#home {
    .row.products.grid {
        @media (max-width: 992px) {
            justify-content: center;
        }
    }

    .latest-section .section-title {
        align-items: center;
        display: flex;

        @media (max-width: 592px) {
            align-items: flex-start;

            span {
                max-width: 239px;
                margin-bottom: 16px;
                font-size: 18px;
            }
        }
    }
    
    &:not(.product-product) .product-item {
        border: none;
        transition: box-shadow 0.2s ease-in;
        max-width: 300px;

        &.mb-md-4 {
            margin-bottom: 2rem !important;
        }
    }

    #search_results .product-item {
        max-width: 100%;
        width: 100%;
    }

    .checkout_cart_inner .product-item {
        max-width: 100%;
    }

    .sticker {
        right: auto;
        left: 0;
    }

    .add_to_cart {
        >button {
            background-color: $main-color !important;
            border-color: $main-color !important;
            color: $links-color !important;
            border: 1px solid;
            text-transform: none;
            font-size: 14px;
            height: 35px;
            display: flex;
            align-items: center;
            margin-left: auto;

            &:hover,
            &:focus {
                background-color: transparent !important;
                color: $links-color !important;
                border-color: $links-color !important;
            }

            i {
                display: none;
            }
        }

        .buttons_added.quantity {
            height: 35px;
            align-items: center;
        }
    }

    .thumbnail {
        padding: 0 7px;
        flex-flow: row wrap;

        .caption {
            order: 1;

            &.text-center {
                text-align: left !important;
                width: 100%;

                h4 {
                    justify-content: flex-start !important;
                }
            }

            @media (max-width: 768px) {
                justify-content: flex-start;
            }
        }

        .price_actions {
            order: 2;
            max-width: 100%;
            width: 100%;
            margin: 0 auto;

            .spinner-grow {
                display: none;
            }
        }

        .bottom_price_actions {
            order: 4;
            margin-top: auto;
            align-items: center;
            width: 50%;
        }

        .caption-title {
            justify-content: center;
            text-align: left !important;
            max-height: 2.5rem;
            text-overflow: ellipsis;
        }

        .caption-title a {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $links-color;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .price {
        margin-bottom: 0;

        font-weight: bold;
        font-size: 16px;
        line-height: 22px;

        ins {
            color: $links-color;
        }

        del {
            color: #838383;
        }
    }

    .add_to_cart span {
        margin: 0 auto;
    }
    
    .product-item .thumbnail .upper_price_actions {
        margin-top: 0;
        width: 50%;
        align-items: center;
        height: 35px;
        text-align: left;
    }

    .wrapper-out-of-stock {
        top: 0 !important;
    }

    .upper_price_actions .price {
        text-align: left;
    }

    &.product-product {
        .product-single .buttons {
            flex-wrap: nowrap !important;
            align-items: center;
        }
    
        .product-single .buttons .quantity {
            display: flex;
            margin: 0;
            margin-right: 10px;
        }
    
        .product-single .buttons .quantity + button {
            margin: 0;
            margin-right: 10px;
            min-width: 125px;
        }
    
        .product-single .buttons .quantity .btn {
            background-color: $main-color;
            color: #fff;
        }
    
        .product-single .buttons .quantity .btn:hover {
            border-radius: 0;
        }
    
        .product-single .btn.btn-theme.btn-wish-list {
            margin: 0;
            border-color: $main-color;
            border-radius: 0;
            border-width: 1px;
        }
    
        .product-single .buttons .quantity .btn i {
            padding: 15px;
            margin: 0;
        }
    }
}
